@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-size: 40px;
}

.carousel-item:before {
    content: "";
    height: 100%;
    width: 100%;
    background: rgb(48 48 48 / 80%);
    position: absolute;
}

/* tablet-only */
@media screen and (max-width: 768px) {

    .carousel-caption p {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
    }
    
    .instructor {
        flex-direction: column !important;
        text-align: center;
    }

    .o-mob,
    .instructor>div {
        width: 80% !important;
        margin-bottom: 15px;
    }
}

/* mobile-only */
@media screen and (max-width: 576px) {
    .carousel-caption{
        padding: 0 !important;
    }
   .carousel-caption .mb-5{
    margin-bottom: 0px !important;
   }

    
}